# Python
backend/venv/
backend/__pycache__/
.pytest_cache/
*.pyc
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db

# Project
backend/processing/ml/models/*
!backend/processing/ml/models/.gitkeep
dev.sh
